body{
    margin: 0px;
    padding: 0px;
    /* background-color: white; */
    /* translate: 10px; */
}

.rings{
    position: absolute;
    border-radius: 50%;
    background-color: red;
    height: 300px;
    width: 300px;
    top: 20%;
    left: 20%;
}


.target-logo {
    position: absolute;
    border-radius: 50%;
    background-color: red;
    height: 300px;
    width: 300px;
    top: 20%;
    left: 20%;
}
.target-center {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    border-width: 50px;
    border-color: white;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}